<header>
		<%= image_tag("Logo MoF.png", :size => "100", :alt => "Attendance MoF", :class => "round")%>
		<nav class="round">

			<ul>
				<li><%= link_to "Home", 'user/new'%></li>
				<li><%= link_to "My profile", '#'%></li>
				<li><%= link_to "Request Form", '#'%></li>
				<li><%= link_to "My Daily Logs", '#'%></li>
				<li><%= link_to "Sign in", '#'%></li>
			</ul>
		</nav>
	</header>